.App-logo {
  height: 80px;
}

.App-header {
  background-color: #EEEEEE;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

.main {
  margin: 0 auto;
  max-width: 40rem;
}

.mb {
  margin-bottom: 1rem;
}

.auth-btn {
  float: right;
  padding: .809em 1.618em;
  background-color: #d55501;
}

.action-btn {
  float: right;
  padding: .809em 1.618em;
  background-color: #d55501;
}

.answer {
  visibility: hidden;
  float: left;
  width: "50%";
}